body {
	font-family: Ubuntu, Arial, Verdana;
	font-size: 12px;
	color: #000;
}
#title {
	font-size: 40px;
	font-weight: bold;
	cursor: default;
}
#title span {
	color: green;
}
#title #ext {
	color: red;
}
#pic, #rate {
	margin: 20px;
}
.red { 
	background-image: url(jqueryui/css/redmond/images/ui-icons_cd0a0a_256x240.png); 
}
