body {
	font-family: Ubuntu, Arial, Verdana;
	font-size: 12px;
	color: #000;
}
a {
	text-decoration: none;
	font-weight: bold;
}
#title {
	font-size: 40px;
	font-weight: bold;
	cursor: default;
	float: left;
	width: 45%;
}
#title span {
	color: green;
}
#title #ext {
	color: red;
}
#welcome {
	float: right;
	width: 30%;
}
#pic, #rate {
	margin: 20px;
}
.red { 
	background-image: url(jqueryui/css/redmond/images/ui-icons_cd0a0a_256x240.png); 
}
